<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<table>
    <thead>
    <th>Оригинальный массив</th>
    <th>Отсортированный массив</th>
    <th>Имя пользователя</th>
    </thead>
    <tbody>
    <!--@thymesVar id="orders" type="java.util.Collection<ru.astafev.springboottest.domain.Order>"-->
    <tr th:each="order:${orders}">
        <td th:text="${order.originalArray}"></td>
        <td th:text="${order.sortedArray}"></td>
        <td th:text="${order.user} ? ${order.user.username}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>