<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Список пользователей</title>
</head>
<body>
<table>
    <thead>
    <th>Имя пользователя</th>
    <th>Пароль</th>
    <th>Роли</th>
    </thead>
    <tbody>
    <!--@thymesVar id="users" type="java.util.Collection<ru.astafev.springboottest.domain.User>"-->
    <tr th:each="user:${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.authorities.toString()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>